nav { 
    background-color: rgb(253, 253, 101); 
    padding: 20px; 

    .hamburger{
        background-color: orange;
        display: none;

    }
    .links{
        background-color: yellow;
        text-align: center;

        a{
            background-color: purple;
            color: white;
            display: block;
            padding: 20px;
            border-radius: 5px;
            margin: 10px;

            text-decoration: none;
            text-transform: uppercase;
            transition: all 1s;

            &:hover{
                background-color: maroon;
            }

        }
    }
}

@media only screen and (max-width: 800px) {
    
    nav { 
        background: rgb(103, 252, 202); 


        .hamburger{
            display: none; 
        } 
        
    }
}
@media only screen and (max-width: 600px) {
    nav { 
        background-color: rgb(103, 252, 202); 
        .hamburger{
            display: block; 
            }   
        }
        .links{
            a{
                display: inline-block;
                outline: 1px solid red;
            }
        
        
    }
}
