.Tabbed{
    .tabs{
        display: flex;
        cursor: pointer;
        .tab{
            background-color: #eeedab;
            padding: 10px 20px;
            border-radius: 5px 5px 0px 0px;
            margin-left: 10px;

            &.active{
                background-color: teal;
                color: #eeedab;
    
            }
        }
        
    }
    .content{
        background-color: teal;
        padding: 20px;

        img{

        }
        h2{

        }
        p{

        }
    }
}