body{
  
}

.App {
    min-width: 320px;
    max-width: 1000px;
    border: solid 10px teal;
    padding: 20px;
    margin: 25px auto;
    background-color: white;
}

@media only screen and (min-width: 600px) {
    body { 
        

    }
}
@media only screen and (min-width: 800px) {
    
    body { 
        
    }
}
